{% extends 'back.base.html.twig' %}
{% block body %}
<div style="width:800px; margin:0 auto;">
<title>New Astuce</title>


    <h1>Create new Astuce</h1>

    {{ include('astuce/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('backastuce') }}">back to list</a>
</div>

{% endblock %}
