{% extends 'front.base.html.twig' %}
{% block title %}Nouveau mot de passe{% endblock %}
{% block body %}
    <section class="breadcrumb-section set-bg" data-setbg="img/1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2 style="color:#9cfda4" ;>Réinitialisation du mot de passe </h2>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <center>
        <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
    <form method="post">
        <label for="inputPassword"><h7 >Password</h7></label>
        <input type="password" name="password" id="inputPassword" placeholder="Nouveau mot de passe" required>
        <input type="hidden" name="token" value="{{ token }}">
       <div>
           <button class="btn btn-lg btn-primary" type="submit">
               Valider le mot de passe

           </button>
       </div>

    </form>
    </center>
{% endblock %}