{% extends 'front.base.html.twig' %}

    {% block body %}

<div style="width:800px; margin:0 auto;">

        <table class="table">
            <thead>
            <tr>
                <th>Image</th>
                <th>Titre</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for astuce in astuces %}
                <tr>
                    <td><img style="margin-bottom: -18px" src="{{ asset('uploads/' ~ astuce.image) }}" width="300" height="300"></td>
                    <td>{{ astuce.titre }}</td>
                    <td>{{ astuce.description }}</td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

</div>

{% endblock %}

