<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<center>
<h4>Détail de la Livraison</h4>
<p>Nom et Prenom : {{ commande.nom ~" "~commande.prenom }}</p>
<p>Numero de téléphone : {{ commande.numeroTelephone }}</p>
<p>Adresse de livraison :{{ commande.adresse }}</p>
<p>Description d'adresse :{{ commande.descriptionAdresse }}</p>
<h3>Statut de Livraison: </h3><p>En Cours</p>
</center>
</body>
</html>